<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2 th:text="${title}">Title</h2>

<table>
    <tr th:text="${program.name}">program</tr>
</table>
<table>
    <tr th:text="${countModules}">program</tr>
</table>
<div>
    <form action="#" th:action="@{/toTopic}" method="post">
        <button name="moduleId" th:each="Module : ${listModules}"
                th:value="${Module.id}"
                th:id="${Module.id}"
                style="height:100px; width:200px">
            Module#
            <span th:text="${Module.id}"/>
            <br/>
            <span th:text="${Module.name}"/>
        </button>
    </form>
    <ul>
        <li th:each="Topic : ${listTopics}" th:text="${Topic.nameTopic}"></li>
    </ul>
</div>

</body>
</html>